.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.hide-in-sm {
    display: flex !important;
}

.show-in-sm {
    display: none !important;
}

.btn-Active,
.btn-Inactive,
.btn-Review {
    transition: 0.5s;
}

.btn-Active:after {
    content: "Active";
    transition: 0.5s;
}

.btn-Review:after {
    content: "Review";
    transition: 0.5s;
}

.btn-Inactive:after {
    content: "Inactive";
    transition: 0.5s;
}

.btn-Active:hover:after {
    content: "Inactive" !important;
}

.btn-Inactive:hover:after {
    content: "Active" !important;
}

.btn-Review:hover:after {
    content: "Active" !important;
}


.btn-Active:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-Inactive:hover {
    content: "Active" !important;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-Review:hover {
    content: "Active" !important;
    background-color: #1e7e34;
    border-color: #1c7430;
}


@media only screen and (max-width: 786px) {
    .hide-in-sm {
        display: none !important;
    }

    .show-in-sm {
        display: flex !important;
    }

    .table {
        display: block !important;
        width: 98% !important;
        overflow-x: auto !important;
        font-size: 80% !important;
    }

    #sidebar-wrapper {
        margin-left: -15rem !important;
    }

    table a.btn.btn-sm {
        margin-bottom: 10px !important;
        padding: .13rem .25rem !important;
    }

    table i.fas.fa-long-arrow-alt-right.fa-sm {
        display: none;
    }

    div.p-4 {
        padding: 0.8rem !important;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0 !important;
    }

    #wrapper div.nav-icon {
        display: none !important;
    }

    .sub-menu .list-group {
        display: block !important;
    }

    #wrapper.toggled .nav-hide {
        display: block !important;
    }

    div.pl-5.pr-5 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    div.p-5 {
        padding: 10px !important;
    }


    label {
        font-size: 80% !important;
    }

}

.btn:focus,
a:focus,
input:focus,
select:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.bg-main {
    background: #FF0000 !important;
}

.text-main {
    color: #FF0000 !important;
}

.bg-black {
    background: black !important;
}

.text-black {
    color: black !important;
}

.bg-white {
    background: white !important;
}

.text-white {
    color: white !important;
}


.btn-main {
    background: #FF0000 !important;
    color: white;
}

.btn-main:hover {
    background: #010E13 !important;
    color: white;
}

.border-main {
    border-color: #FF0000 !important;
}

body {
    background: #f5f5f5;
    width: 100%;
    font-size: 90%;
    font-family: 'Roboto', sans-serif;
}

label {
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 95%;
}

a {
    text-decoration: none !important;
}

.btn-delete {
    cursor: pointer;
}

.rounded-top-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-30 {
    border-radius: 30px;
}

.rounded-40 {
    border-radius: 40px;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.font-95 {
    font-size: 95%;
}

.font-90 {
    font-size: 90%;
}

.font-85 {
    font-size: 85%;
}

.font-80 {
    font-size: 80%;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: .75rem;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
    display: none;
}

table.dataTable thead .sorting_desc::after {
    display: none;
}

table.dataTable thead .sorting {
    background-image: url(https://datatables.net/media/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: url(https://datatables.net/media/images/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_desc {
    background-image: url(https://datatables.net/media/images/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
    display: none !important;

}

table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:after {
    display: none !important;
}

table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:after {
    display: none !important;
}

table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: .75rem;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
    display: none;
}

table.dataTable thead .sorting_desc::after {
    display: none;
}

table.dataTable thead .sorting {
    background-image: url(https://datatables.net/media/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: url(https://datatables.net/media/images/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_desc {
    background-image: url(https://datatables.net/media/images/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0 !important;
}

.dropdown-item:hover {
    background: transparent !important;
}

.pointer {
    cursor: pointer;
}

.tooltip {
    pointer-events: none !important;
}

.tooltip-inner {
    text-align: left;
    font-size: 90%;
}

.tooltip-inner hr {
    background: white;
    margin-top: 3px;
    margin-bottom: 3px;
}

table.brequest td:first-child {
    font-weight: 600;
}

table.brequest td:nth-child(2) {
    color: black;
}