body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    background: #000000;
    min-height: 100vh;
    margin-left: -12rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper a i {
    width: 40px;
    padding-left: 10px;
}

.nav-main.image img {
    border-radius: 50%;
    height: auto;
    width: 2.1rem;
}

#sidebar-wrapper p {
    font-weight: 500;
    margin-bottom: 5px;
}


.nav-main {
    margin-bottom: 10px;
    color: #f5f5f5 !important;
    font-size: 95%;
    border-left: 6px solid transparent;
}

.sub-menu li a {
    color: #f5f5f5 !important;
    font-size: 95%;
}

#sidebar-wrapper .nav-main.active-link {
    border-right: 6px solid #000000;
    background: #f5f5f5 !important;
    color: black;
    font-weight: 500;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#sidebar-wrapper .nav-main.active-link * {
    color: black;
}


h5 {
    font-size: 1.1rem !important;
}

#sidebar-wrapper .list-group .nav.justify-content-between {
    /*        border-bottom: 0.1px solid #e3e3e3 !important;*/
}

#sidebar-wrapper .list-group .justify-content-between {
    /*        background-color: <?php echo $site['color'] ?> !important;*/
}

#sidebar-wrapper .list-group .justify-content-between:hover {
    background-color: rgba(255, 255, 255, .1);
    /*    color: #fff;*/
}

#sidebar-wrapper .list-group .justify-content-between:hover * {
    /*    color: #fff;*/
}

#sidebar-wrapper a {
    text-decoration: none;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#wrapper.toggled .nav-icon {
    display: block;
}

#wrapper.toggled .nav-main {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
}

#wrapper.toggled .nav-hide {
    display: block !important;
}


#wrapper.toggled .sub-menu p {
    display: none !important;
}


.nav-hide {
    display: block;
}

.nav-icon {
    display: none;
}

#menu-toggle {
    /*        margin-left: -45px;*/
}


@media (max-width: 768px) {
    #menu-toggle {
        /*            margin-left: -30px !important;*/
        /*            border-radius: 5px !important;*/
    }
}

@media (min-width: 768px) {

    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -12rem;
    }
}
